import 'package:cage/cage.dart';
import 'package:flutter/widgets.dart';

import '{{ fileName }}_meta.dart';

class {{ widgetName }}View extends View<{{ widgetName }}Interface> {
    @override
    Widget createView(BuildContext buildContext) {
        // TODO implement

        return null;
    }
}