import 'package:cage/cage.dart';

import '{{ fileName }}_meta.dart';

class {{ widgetName}}Presenter extends Presenter<{{ widgetName }}Options>  implements {{ widgetName }}Interface {
    @override
    void onInit() {
        super.onInit();
    }
}